externals/sources/*
!externals/sources/.keep
externals/lib/*
!externals/lib/.keep
externals/lib64/*
!externals/lib64/.keep
externals/include/*
!externals/include/.keep
!externals/sources/Bright-Pi
externals/raspberrypi/*
!externals/raspberrypi/pi.cmake
build/x64/calibrations/*
!build/x64/calibrations/.keep
build/x64/*
!build/x64/.keep
!build/x64/calibrations
build/arm/*
!build/arm/.keep
build/*
!build/.keep
!build/arm
!build/x64